[submodule "gera_ENA"]
	path = gera_ENA
	url = https://github.com/mazucanti/gera_ENA.git
[submodule "gpluv"]
	path = gpluv
	url = https://github.com/mazucanti/gpluv.git
[submodule "percentis"]
	path = percentis
	url = https://github.com/mazucanti/percentis.git
[submodule "prospec"]
	path = prospec
	url = https://github.com/mazucanti/prospec.git
[submodule "comparativo_prev_diaria"]
	path = comparativo_prev_diaria
	url = https://github.com/mazucanti/comparativo_prev_diaria.git
[submodule "pluvia"]
	path = pluvia
	url = https://github.com/mazucanti/pluvia.git
[submodule "rdh"]
	path = rdh
	url = https://github.com/mazucanti/rdh.git
[submodule "prec"]
	path = prec
	url = https://github.com/mazucanti/prec.git
[submodule "gera_prev"]
	path = gera_prev
	url = https://github.com/mazucanti/gera_prev.git
